spring.application.name=AudioLibraryPAO
spring.datasource.url=jdbc:postgresql://DB_HOST/audio_library
spring.datasource.username=DB_USERNAME
spring.datasource.password=DB_PASSWORD
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
jwt.secret==JWT_SECRET_KEY
jwt.expiration=86400000
server.port=3010
